.App{
    background-image:url("/src/assets/images/background.jpg");
    background-size: cover; /* This will scale the background image to be as large as possible so that the background area is completely covered by the background image. Some parts of the background image may not be in view within the background positioning area */
    background-position: center; /* This will position the background image at the center of the div */
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
/*For Responsive*/
@media (max-width: 801px) {
    .App {
        background-image:url("/src/assets/images/background.jpg");
        background-position: center;
        overflow-x: hidden;
        overflow-y: scroll;
    }
   }
   